*{
    margin: 0;
    padding: 0;
    
}
header{
    background-color: #03194F;
}
.one{
    background-color: #03194F;
     
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    align-items: center;
}
ul,li,a{
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.log{
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.one h1{
    color: white;
    font-size: 60px;
}
.one p{
    color: whitesmoke;
    font-size: 20px;
}
.try{
    padding: 20px;
    background-color: orange;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
    border: none;
}
.bx{
    font-size: 40px;
}
span{
    color: white;
}
.one{
    display: flex;
    justify-content: space-between;
}
.one img{
    width:700px;
    height: 600px;
    margin-right: 130px;
}
.content{
    padding: 20px;
    margin-left: 60px;
    margin-top: 80px;
}
.two{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
.con,.co,.cn,h1{
color: rgb(10, 80, 141);
margin-left: 50px;
}
.con{
    padding: 20px;
    margin-top: 130px;
    margin-right: 100px;
}
.con,.co,.cn,p{
    color: black;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 60px;
}
.three{
    display: flex;
    gap: 130px;
    padding: 20px;
   
}
.four{
    display: flex;
    gap: 300px;
    padding: 20px;
    background-color: #A9DFED;
}
iframe{
    width: 500px;
    height: 300px;
    margin-left: 120px;
    margin-top: 80px;
    
}
.two img{
    width: 800px;
    height: 500px;
}
.five{
    display: flex;
    gap: 250px;
}
.ctn{
    margin-left:80px;
    margin-top: 100px;
}
.five img{
    width: 800px;
    height: 500px;
}
#slider{
    overflow: hidden;
}
#slider .container{
    position: relative;
    animation: 5s Slider infinite;
}
#slider .container .t1{
    float: left;

}
.six{
    display: flex;
    justify-content: space-between;
    
}
.container{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
    
    height: 400px;
    background-color:#800d26;
}
.t1 p{
    color: white;
}
.t1 q{
    color: white;
}
.t1{
    padding: 50px;
    width: 300px;
    height: 200px;
    font-size: 20px;
}
.red{
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    gap: 350px;
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: crimson;
    margin: 0;
    padding: 0;
    
}
.maroon{
    background-color:#800d26;
    color: white;
    padding: 80px;
}
.maroon img{
    width: 800px;
}
.fot{
    background-color: #25355e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}
.tit{
    color: #5c83e6;
}
.foot{
    background-color:#25355e ;
}
.copy{
    display: flex;
    margin-left: 350px;
    color: white;
    
}
hr{
    width: 80%;
    margin-left: 150px;
}
@media(max-width:600px){
    ul,li,a{
        font-size: 16px;
    }
    .try{
        padding: 5px;
        font-size: 16px;
    }
    .one{
        font-size: 16px;
        display: block;
    }
    .one h1{
        font-size: 30px;
    }
    .one p{
        font-size: 16px;
    }
    .one img{
        width: 200px;
        height: 200px;
        margin-left: 100px;
    }
    .two{
        display: block;
    }
    .two img{
        width: 200px;
        height: 200px;
       margin-left: 100px;

    }
    .two h1{
        font-size: 30px;
    }
    .two p{
        font-size: 16px;
       
    }
    .three img{
        width: 200px;
        height: 200px;
       margin-left: 100px;

    }
    .three{
        display:block;
        
    }
    .three p{
        font-size: 16px;
        
    }
    .three h1{
        font-size: 20px;
    }
    iframe{
        width: 200px;
        height: 200px;
    }
    .four{
        display: block;
    }
    .five{
        display: block;
    }
    .five img{
        width: 200px;
        height: 200px;
        margin-left: 100px;
    }
    .red{
        display: block;
    }
    .maroon img{
        width: 300px;
    }
    .copy p{
        font-size: 16px;

    }
    .fot{
        display: block;
        justify-content: center;
        padding: 20px;
    }
    hr{
        width: 90%;
        margin-left: 20px;
    }
    .copy{
        font-size: 16px;
        margin-left: 10px;
        gap: 20px;
        padding: 10px;
    }

}
.copy p{
    color: white;
}